<!--
  	Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>
  <link href="/css/admin.css" rel="stylesheet">
	<title>Admin module</title>
	</head>

	<body class="d-flex flex-column h-100">

		<%- include('navbar') -%>

			<div class="container" style="opacity: 95%;">
				<div class="p-5 my-5 bg-light rounded-3">
					<div class="container-fluid">
						<h1 class="display-5 fw-bold">G1 Driver License</h1>
						<p class="col-md-8 fs-4">Admin Module</p>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<button class="btn btn-primary btn-lg" onclick="window.location=('/router/questions')">View
								questions</button>
							<button class="btn btn-primary btn-lg" onclick="window.location=('/router/question')">Create
								question</button>
						</div>
					</div>
				</div>
			</div>

			<%- include('footer') -%>