<!--
  	Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>
	<title>Admin module</title>
	</head>

	<body>

		<%- include('navbar') -%>
			<div class="container">
				<div class="p-5 mb-4 bg-light rounded-3">
					<div class="container-fluid py-5">
						<h1 class="display-5 fw-bold">G1 Driver License Knowledge Test</h1>
						<p class="col-md-8 fs-4">Admin Module</p>
						<button class="btn btn-primary btn-lg" onclick="window.location=('/router/questions')">View
							questions</button>
						<button class="btn btn-primary btn-lg" onclick="window.location=('/router/question')">Create
							question</button>
					</div>
				</div>
			</div>

			<%- include('footer') -%>