<!--
		Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<footer class="footer mt-auto py-3 bg-dark sticky">
	<div class="container d-flex align-items-center justify-content-center">
		<span class="text-bg-dark">Copyright 2023</span>
	</div>
</footer>

</body>

</html>