<!--
  	Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#test-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="test-navbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <h4 class="fs-4 text-white">
            <%= locals.name ? name : "Welcome" %>
          </h4>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link text-white" href="/router/signup">
            <%= locals.name ? "" : "Sign up" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/router/login">
            <%= locals.name ? "" : "Log in" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/router/index">
            <%= locals.name ? "Log out" : "" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>