<!--
	Lambton College
	CSD 3103 - Full Stack JavaScript
	Term project
	Hugo Beltran Escarraga - C0845680
	Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>


    <title>Sign up</title>
    </head>

    <body class="d-flex flex-column h-100">

        <%- include('navbar') -%>

            <header>
              <div class="container">
                <div class="col d-flex justify-content-center">
                  <h1>New question</h1>
                </div>
              </div>
            </header>
        
            <main class="flex-shrink-0">
              <div class="container">

                <div class="col d-flex justify-content-center pt-4 mb-2">

                  <div class="card mb-3 col-md-8" id="quiz">
  
                    <form action="/questions" method="POST">
                      <div class="card-header" id="info">
                        <div class="row mt-2 float-end mb-3">
                          <div class="col-sm-7">
                            <label for="category" class="form-label select-label fw-bold">Category</label> <br>
                            <select class="select form-control-sm" id="category" name="category">
                              <option value="Rules" selected>Rules</option>
                              <option value="Signs">Signs</option>
                            </select>
                          </div>
                        </div>
                      </div>
                  
                      <div class="card-body" id="question">
                        <div class="form-outline">
                          <label class="form-label fw-bold" for="question">Question</label>
                          <br>
                          <textarea id="question" name="question" class="form-control form-control-sm" rows="3" required></textarea>
                        </div>
                        <div class="card-title image" hidden>
                          <img src="" alt="reference image">
                        </div>
                        <br>
                        <p class="fw-bold">Answers</p>
                        <ul class="list-group list-group-flush" id="answers">
                  
                          <li class="list-group-item">
                            <div class="answer-group d-flex pt-2 pb-2 alert alert-success">
                  
                              <input type="text" id="answer0" name="answer0" class="form-control form-control-sm text-success"
                              required />
                            </div>
                          </li>
                  
                          <li class="list-group-item">
                            <div class="answer-group d-flex pt-2 pb-2 alert alert-danger">
                  
                              <input type="text" id="answer1" name="answer1" class="form-control form-control-sm text-danger"
                              required />
                            </div>
                          </li>
                  
                          <li class="list-group-item">
                            <div class="answer-group d-flex pt-2 pb-2 alert alert-danger">
                  
                              <input type="text" id="answer2" name="answer2" class="form-control form-control-sm text-danger"
                              required />
                            </div>
                          </li>
                  
                          <li class="list-group-item">
                            <div class="answer-group d-flex pt-2 pb-2 alert alert-danger">
                  
                              <input type="text" id="answer3" name="answer3" class="form-control form-control-sm text-danger"
                              required />
                            </div>
                          </li>
                        </ul>
                        <div class="col mb-1">
                          <div class="form-outline">
                            <div class="answer-explanation">
                              <label class="form-label fw-bold" for="explanation">Explanation</label>
                              <br>
                              <textarea id="explanation" name="explanation" class="form-control form-control-sm" rows="3"
                                required></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="row">
                            <span class="submit-button">
                              <input class="btn btn-primary float-end" type="submit" id="save-btn" value="Save Question">
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
                
              </div>
            </main>

        <%- include('footer') -%>