<!-- QUESTION -->

<%- include('header') -%>
  <link href="/css/admin.css" rel="stylesheet">
  <script defer src="/js/question.js"></script>
  <title>Sign up</title>
  </head>

  <body class="d-flex flex-column h-100">

    <%- include('navbar') -%>

      <header>
        <div class="container">
          <div class="col d-flex justify-content-center pt-3">
            <h1 class="fw-bold bg-black px-5 py-2 text-white bg-opacity-25 rounded-3">New question</h1>
          </div>
        </div>
      </header>

      <main class="flex-shrink-0">
        <div class="container" style="opacity: 95%;">

          <div class="col d-flex justify-content-center pt-4 mb-2">

            <div class="card mb-3 col-md-8" id="quiz">

              <form>
                <div class="card-header">
                  <div class="row mt-2 mb-3">
                    <div class="text-end col-sm-11">
                      <label for="category" class="form-label select-label fw-bold">Category</label>
                      <select class="select form-control-sm" id="category" name="category" onchange=setRef()>
                        <option value="Rules" selected>Rules</option>
                        <option value="Signs">Signs</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="form-outline" id="text">
                    <label class="form-label fw-bold" for="question">Question</label>
                    <textarea id="question" name="question" class="form-control form-control-sm" rows="3"
                      placeholder="Question text" required></textarea>
                    <br>
                    <hr class="my-2" />
                  </div>
                  <div class="form-outline" id="ref" hidden>
                    <label class="form-label fw-bold" for="imagefile">Image</label>
                    <input class="form-control" type="file" name="imagefile">
                    <br>
                    <hr class="my-2" />
                  </div>
                  <div class="form-outline">
                    <label class="form-label fw-bold" for="answers">Answers</label>
                    <div class="" id="answers">

                      <div class="alert alert-success">
                        <input type="text" id="answer0" name="answer0" class="form-control form-control-sm text-success"
                          placeholder="Correct answer" required />
                      </div>

                      <div class="alert alert-danger">

                        <input type="text" id="answer1" name="answer1" class="form-control form-control-sm text-danger"
                          placeholder="Incorrect answer" required />
                      </div>

                      <div class="alert alert-danger">

                        <input type="text" id="answer2" name="answer2" class="form-control form-control-sm text-danger"
                          placeholder="Incorrect answer" required />
                      </div>

                      <div class="alert alert-danger">

                        <input type="text" id="answer3" name="answer3" class="form-control form-control-sm text-danger"
                          placeholder="Incorrect answer" required />
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mt-5">
                    <hr class="my-2" />
                    <label class="form-label fw-bold" for="explanation">Explanation</label>
                    <textarea id="explanation" name="explanation" class="form-control form-control-sm" rows="3"
                      placeholder="Answer explanation" required></textarea>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="d-flex justify-content-end col-md-9 my-0">
                      <div id="message" class="text-center alert alert-success alert-dismissible fade show col-md-6 mt-2" role="alert" hidden>
                        <span>Question saved</span>
                      </div>
                    </div>
                    <span class="col-md-3">
                      <input class="btn btn-primary float-end my-4" type="submit" id="save-btn" value="Save Question">
                    </span>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </div>
      </main>
      <%- include('footer') -%>