<!--
  	Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/result.js"></script>
  <title>Results</title>
  </head>

  <body>

    <%- include('navbar') -%>

    <div class="container">
      <header class="col d-flex justify-content-center">
        <h1>G1 Driver License Knowledge Test</h1>
      </header>
  
      <main class="col d-flex justify-content-center pt-4">
  
        <div class="card w-50">
          <div class="card-header">
            <h2>Results</h2>
            <div class="return-button">
              <input class="primary" type="button" id="return-btn" value="Try Again">
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <table class="result-table">
                <tr class="table-header">
                  <th></th>
                  <th>Rules</th>
                  <th>Signs</th>
                  <th>Total</th>
                </tr>
                <tr id="correct-row">
                  <th>Correct:</th>
                  <td id="correct-rules"></td>
                  <td id="correct-signs"></td>
                  <td id="correct-total"></td>
                </tr>
                <tr id="incorrect-row">
                  <th>Incorrect:</th>
                  <td id="incorrect-rules"></td>
                  <td id="incorrect-signs"></td>
                  <td id="incorrect-total"></td>
                </tr>
                <tr id="percentage-row">
                  <th>Percentage:</th>
                  <td id="percentage-rules"></td>
                  <td id="percentage-signs"></td>
                  <td id="percentage-total"></td>
                </tr>
              </table>
            </li>
          </ul>
          <div class="card-body">
            <div class="pie-chart">
              <canvas id="myChart" style="width:100%; max-width:600px"></canvas>
            </div>
          </div>
        </div>
  
      </main>
  
    </div>
  
<!--
    <div class="container">
      <header>
        <h1>Driver License Knowledge Test</h1>
      </header>

      <main>
        <div class="result-header">
          <h2>Results</h2>
          <div class="return-button">
            <input class="primary" type="button" id="return-btn" value="Try Again">
          </div>
        </div>
        <div class="result-description">
          <table class="result-table">
            <tr class="table-header">
              <th></th>
              <th>Rules</th>
              <th>Signs</th>
              <th>Total</th>
            </tr>
            <tr id="correct-row">
              <th>Correct:</th>
              <td id="correct-rules"></td>
              <td id="correct-signs"></td>
              <td id="correct-total"></td>
            </tr>
            <tr id="incorrect-row">
              <th>Incorrect:</th>
              <td id="incorrect-rules"></td>
              <td id="incorrect-signs"></td>
              <td id="incorrect-total"></td>
            </tr>
            <tr id="percentage-row">
              <th>Percentage:</th>
              <td id="percentage-rules"></td>
              <td id="percentage-signs"></td>
              <td id="percentage-total"></td>
            </tr>
          </table>
        </div>
        <div class="pie-chart">
          <canvas id="myChart" style="width:100%; max-width:600px"></canvas>
        </div>
      </main>

    </div>
-->
    <%- include('footer') -%>