<!--
  	Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/result.js"></script>
  <title>Results</title>
  </head>

  <body>

    <%- include('navbar') -%>

      <div class="container">
        <header class="col d-flex justify-content-center">
          <h1>G1 Driver License Knowledge Test</h1>
        </header>

        <main class="col d-flex justify-content-center pt-4 mb-2">

          <div class="card w-50">
            <div class="card-header">
              <h2>Results</h2>
              <div class="return-button">
                <button class="btn btn-primary" onclick="window.location=('/router/setup')">Try Again</button>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <table class="result-table">
                  <tr class="table-header">
                    <th class="w-50"></th>
                    <th class="w-25">Rules</th>
                    <th class="w-25">Signs</th>
                    <th class="w-25">Total</th>
                  </tr>
                  <tr id="correct-row">
                    <th class="text-success fw-bold">Correct:</th>
                    <td id="correct-rules"></td>
                    <td id="correct-signs"></td>
                    <td id="correct-total"></td>
                  </tr>
                  <tr id="incorrect-row">
                    <th class="text-danger fw-bold">Incorrect:</th>
                    <td id="incorrect-rules"></td>
                    <td id="incorrect-signs"></td>
                    <td id="incorrect-total"></td>
                  </tr>
                  <tr id="percentage-row">
                    <th class="fw-bold">Percentage:</th>
                    <td class="fw-bold" id="percentage-rules"></td>
                    <td class="fw-bold" id="percentage-signs"></td>
                    <td class="fw-bold" id="percentage-total"></td>
                  </tr>
                </table>
              </li>
            </ul>
            <div class="card-body">
              <div class="pie-chart">
                <canvas id="myChart" style="width:100%; max-width:600px"></canvas>
              </div>
            </div>
          </div>

        </main>

      </div>

      <%- include('footer') -%>