<!--
	Lambton College
	CSD 3103 - Full Stack JavaScript
	Term project
	Hugo Beltran Escarraga - C0845680
	Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>
  <link href="/css/main.css" rel="stylesheet">
  <title>Sign up</title>
  </head>

  <body class="d-flex flex-column h-100">

    <%- include('navbar') -%>

      <header>
        <div class="container">
          <div class="col d-flex justify-content-center pt-3">
            <h1 class="fw-bold bg-black px-5 py-2 text-white bg-opacity-25 rounded-3">G1 Driver License Knowledge Test
            </h1>
          </div>
        </div>
      </header>

      <main class="flex-shrink-0">
        <div class="container" style="opacity: 95%;">

          <div class="col d-flex justify-content-center pt-4 mb-2">

            <div class="card w-50 mb-3">
              <div class="card-body">

                <form class="mx-5 mb-2" id="test-form" action="/users" method="POST">

                  <div>

                    <h2>Sign up</h2>

                    <div class="mb-3">
                      <label class="form-label" for="name">Name</label>&nbsp;&nbsp;<span id="name-error"></span>
                      <input type="text" class="form-control" id="name" name="name" size="30"
                        placeholder="Enter your name" pattern="^[a-zA-Z.]+( [a-zA-Z.]+)*$" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="email">Email</label>&nbsp;&nbsp;<span id="email-error"></span>
                      <input type="email" class="form-control" id="email" name="email" size="30"
                        placeholder="Enter your email address"
                        pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="phone">Phone</label>&nbsp;&nbsp;<span id="phone-error"></span>
                      <input type="tel" class="form-control" id="phone" name="phone" size="30"
                        placeholder="Enter your phone number" pattern="^[2-9][0-9]{9}" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="password">Password</label>&nbsp;&nbsp;<span
                        id="password-error"></span>
                      <input type="password" class="form-control" id="password" name="password" size="30"
                        placeholder="Enter your password">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="password2">Confirm Password</label>&nbsp;&nbsp;<span
                        id="password2-error"></span>
                      <input type="password" class="form-control" id="password2" name="password2" size="30"
                        placeholder="Confirm your password" pattern="[A-Za-z0-9!#$%&*+-]{8,}" required>
                    </div>
                  </div>

                  <button class="w-100 btn btn-primary btn-lg" type="submit" id="submit-btn">
                    Register
                  </button>

                </form>

              </div>
            </div>

          </div>

        </div>

      </main>
      <%- include('footer') -%>