<!--
	Lambton College
	CSD 3103 - Full Stack JavaScript
	Term project
	Hugo Beltran Escarraga - C0845680
	Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>
	  <script src="/js/test.js"></script>
    <title>Test</title>
    </head>

    <body class="d-flex flex-column h-100">

        <%- include('navbar') -%>

            <header>
              <div class="container">
                <div class="col d-flex justify-content-center pt-3">
                  <h1>G1 Driver License Knowledge Test</h1>
                </div>
              </div>
            </header>
        
            <main class="flex-shrink-0">
              <div class="container">

                <div class="col d-flex justify-content-center pt-4 mb-2">

                    <div class="card mb-3 col-md-8" id="quiz">
                      <div class="card-header" id="info">
                      <div class="row mt-2">
                        <div class="col-sm-7">
                        <p class="fs-4 fw-bold" id="category"></p>
                        </div>
                        <div class="col-sm-5">
                        <div class="row">
                          <p class="text-success fw-bold col-sm-6 fs-4" id="correct">Correct: 0</p>
                          <p class="text-danger fw-bold col-sm-6 fs-4" id="incorrect">Incorrect: 0</p>
                        </div>
                        </div>
                      </div>
                      </div>

                      <div class="card-body" id="question">
                      <p class="fs-4" id="text"></p>
                      <div class="card-title image">
                        <img src="" alt="reference image">
                      </div>
                      </div>

                      <ul class="list-group list-group-flush" id="answers">
                      <li class="list-group-item">
                        <div class="answer-group">
                        <input class="answer-radio" type="radio" name="answer-radio" id="answer-a">
                        <label class="answer-label" for="answer-a" id="answer-a-text"></label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="answer-group">
                        <input class="answer-radio" type="radio" name="answer-radio" id="answer-b">
                        <label class="answer-label" for="answer-b" id="answer-b-text"></label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="answer-group">
                        <input class="answer-radio" type="radio" name="answer-radio" id="answer-c">
                        <label class="answer-label" for="answer-c" id="answer-c-text"></label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="answer-group">
                        <input class="answer-radio" type="radio" name="answer-radio" id="answer-d">
                        <label class="answer-label" for="answer-d" id="answer-d-text"></label>
                        </div>
                      </li>
                      </ul>
                      <div class="card-footer" style="min-height: 3.5em">
                      <div class="row">
                        <span class="skip-button col-sm-6">
                        <input class="btn btn-warning" type="button" id="skip-btn" value="Skip Question">
                        </span>
                        <span class="submit-button col-sm-6">
                        <input class="btn btn-primary float-end" type="button" id="submit-btn" value="Submit Answer">
                        </span>
                      </div>
                      </div>

                    </div>
                    </div>
                    <div class="col d-flex justify-content-center mb-2">
                    <div class="answer-explanation alert col-md-8">
                      <p id="explanation"></p>
                    </div>
                  </div>

              </div>

            </main>

        <%- include('footer') -%>